
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0000ff;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inscription-button {
    margin-right: 20px; /* Ajustez la marge droite selon vos préférences pour déplacer le bouton à droite */
    padding-right: 15px;
}

.inscription-button a {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px; /* Ajustez la taille du bouton selon vos préférences */
    border: 1px solid white;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}

.inscription-button a:hover {
    background-color: white;
    color: #333;
}

.logo img {
    max-width: 150px;
    height: auto;
    padding-left: 5px;
}

.search-bar {
    flex: 0,5;
    display: flex;
    justify-content: center;
    align-items:center;
}

.search-bar input[type="text"] {
    width: 50%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-bar button {
    padding: 10px 12px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    cursor: pointer;
}

/* Styles pour le menu dépliant */
.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.menu li {
    margin-right: 20px;
    position: relative;
}

.menu li.has-submenu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 100;
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li.has-submenu:hover .submenu {
    display: block;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}

/* Styles pour les cartes de produits */
.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    width: calc(33% - 20px);
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 8px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
}

/* Style pour le bouton d'action */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #555;
}



/* Styles pour le footer */

footer {
    background-color:rgba(4, 121, 255, 0.712);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}


.pagination a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 0;
    text-align: center;
    line-height: 30px;
    margin-right: 15px
}

/* Change la couleur de fond des numéros de page au survol */

.pagination a:hover {
    background-color: white;
    color: #333;
}

/* Aligne les numéros horizontalement */

.pagination ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}




/* Styles pour la section publicitaire */
.publicite {
    position: fixed;
    top: 0; /* Position en haut */
    margin-top: 150px;
    right: 0; /* Position à droite */
    width: 150px; /* Largeur de la section publicitaire */
    height: 400px; /* Hauteur de la section publicitaire (pleine hauteur de la fenêtre) */
    background-color: #f0f0f0; /* Couleur de fond de la publicité */
    text-align: center;
    overflow: hidden; /* Pour gérer le contenu qui dépasse la hauteur */
    z-index: 999; /* Pour placer la publicité au-dessus du contenu principal */
}

.publicite img {
    max-width: 100%;
    height: auto;
}

